body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.message-color-warning{
  font-weight: 500;
  color: #ff9800;
}

.message-color-error{
  font-weight: 500;
  color: #fc6058;
}

.message-color-success{
  font-weight: 500;
  color:#33d68a;
}

.css-98urqk {
  margin-bottom: 15px !important;
}

.css-1jrtelv {
  height: 100%;
  border-radius: 20px;
  transition-property: var(--chakra-transition-property-common);
  transition-duration: var(--chakra-transition-duration-slow);
  background-color: var(--chakra-colors-green-500) !important;
}

.css-1ilyui9{
  display: flex !important; 
  justify-content: center !important;
}

.tag-margin{
  margin-right: 10px;
}

.flexRow{
  display: flex; 
  flex-direction: row;
  justify-content: center; 
  align-items: center;
  margin-top: 10px;
}

.flexRow-TD{
  display: flex; 
  flex-direction: row;
  align-items: center;
}
  